<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.phonegap.backbonepwmeter"
	versionCode="10" 
	version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>BackboneMeter</name>

    <description>
        BackboneMeter
    </description>
	
	
	<preference name="fullscreen" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="splash-screen-duration" value="0000" />
	
	<icon src="icon.png" />
	
</widget>